@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #16ed84;
  --color-secondary: #2aa80b;
  --background-color: #409c22;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}


#track-cards{
}
#tracks-rest-artist{
  color: white;
  text-shadow: 1px 1px 1px #000000;
}
#spotify-profile-name{
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000000;
}
#spotify-features{
  width: 90%;
  a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
  }
}
#top-tracks-controller{
  width: 50%;

}
.spotify-track-title{
  color: white;
  text-shadow: 1px 1px 3px #000000;
}
#volume-controller{
  margin-top: 10px;
  color: white;
}

#spotify-top-tracks-main {
  margin-top: 50px;
  flex-direction: row;
  padding: 0;
  h1{
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

#spotify-top-tracks-main > div {
  margin-bottom: 16px;
}

#spotify-top-track-first{
  margin-bottom: 10px;
}
#spotify-top-track-second{
  margin-top: 10%;
} 

#spotify-top-track-third {
  margin-top: 10%;
}

#controller {
  justify-content: center;
  padding: 0 16px;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  #spotify-top-tracks-main {
    margin-top: 10px;
    padding: 10px;
    flex-direction: column;
    h1{
      font-size: 1.5rem;
      margin-top: 10px;
    }
  }

  #spotify-top-track-first, #spotify-top-track-second, #spotify-top-track-third {
    margin-bottom: 10px;
  }

  .spotify-track-title {
    font-size: 1.25rem;
  }

  #spotify-tracks-rest {
    height: fit-content;
    object-fit: cover;
  }
}

/* Tablet view adjustments */
@media (min-width: 769px) and (max-width: 1024px) {
  #spotify-top-tracks-main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #spotify-top-track-main {
    padding: 0 16px;
  }

  #spotify-top-track-first, #spotify-top-track-second, #spotify-top-track-third {
    width: 50%;
    margin-bottom: 16px;
  }

  .spotify-track-title {
    font-size: 1.5rem;
  }
}

#top-track-heading{
  color: white;
  text-shadow: 3px 4px 5px #000000;
}

#navbar{
  background: rgb(61,222,61);
  background: linear-gradient(298deg, rgba(61,222,61,1) 0%, rgba(33,215,0,1) 7%, rgba(21,130,26,1) 70%);
}