@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #16ed84;
  --color-secondary: #2aa80b;
  --background-color: #409c22;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

#spotify-profile-card{
  background: rgb(5,150,14);
  background: linear-gradient(38deg, rgba(5,150,14,0.8) 0%, rgba(0,85,103,0.8) 38%, rgba(2,47,112,0.8) 64%, rgba(57,175,16,0.8) 100%);
}
#spotify-profile-card:hover{
  background: rgb(5,150,14);
  background: linear-gradient(38deg, rgba(5,150,14,1) 0%, rgba(0,85,103,1) 38%, rgba(2,47,112,1) 64%, rgba(57,175,16,1) 100%);
}
#tracks-rest-artist{
  color: white;
  text-shadow: 1px 1px 1px #000000;
}
#spotify-profile-name{
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000000;
}
#spotify-features{
  background: rgb(5, 150, 7, 0.6);
  background: linear-gradient(27deg, rgba(5, 150, 7, 0.8) 0%, rgba(19, 103, 0, 0.8) 41%, rgba(24, 112, 2, 0.8) 64%, rgba(57, 175, 16, 0.8) 100%);
  border-radius: 1rem; 
  padding: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#spotify-features:hover{
  background: rgb(5, 150, 7, 0.8);
  background: linear-gradient(27deg, rgba(5, 150, 7, 1) 0%, rgba(19, 103, 0, 1) 41%, rgba(24, 112, 2, 1) 64%, rgba(57, 175, 16, 1) 100%);
}

#spotify-features a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px #000000;
  transition: background-color 0.3s, transform 0.3s;
}

#spotify-features a:hover {
  background-color: #2e7d32;
  transform: scale(1.05);
}

#top-tracks-controller{
  width: 50%;

}
.spotify-track-title{
  color: white;
  text-shadow: 1px 1px 3px #000000;
}
#volume-controller{
  margin-top: 10px;
  color: white;
}

#spotify-top-tracks-main {
  margin-top: 50px;
  flex-direction: row;
  padding: 0;
  h1{
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

#spotify-top-tracks-main > div {
  margin-bottom: 16px;
}

#spotify-top-track-first{
  margin-bottom: 10px;
}
#spotify-top-track-second{
  margin-top: 10%;
} 

#spotify-top-track-third {
  margin-top: 10%;
}

#controller {
  justify-content: center;
  padding: 0 16px;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  #spotify-top-tracks-main {
    margin-top: 10px;
    padding: 10px;
    flex-direction: column;
    h1{
      font-size: 1.5rem;
      margin-top: 10px;
    }
  }

  #spotify-top-track-first, #spotify-top-track-second, #spotify-top-track-third {
    margin-bottom: 10px;
  }

  .spotify-track-title {
    font-size: 1.25rem;
  }

  #spotify-tracks-rest {
    height: fit-content;
    object-fit: cover;
  }
}

/* Tablet view adjustments */
@media (min-width: 769px) and (max-width: 1024px) {
  #spotify-top-tracks-main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #spotify-top-track-main {
    padding: 0 16px;
  }

  #spotify-top-track-first, #spotify-top-track-second, #spotify-top-track-third {
    width: 50%;
    margin-bottom: 16px;
  }

  .spotify-track-title {
    font-size: 1.5rem;
  }
}

#top-track-heading{
  color: white;
  text-shadow: 3px 4px 5px #000000;
}

#navbar{
  background: rgb(61,222,61);
  background: linear-gradient(298deg, rgba(61,222,61,1) 0%, rgba(33,215,0,1) 7%, rgba(21,130,26,1) 70%);
}